/* CSS by Anne-Mari Seppola,
     graphic design by Risto Vauras/ Grass Business OY, grass.fi

Built with love for UniHelsinki! 
Tsirp!
*/
/*
CSS structured along the lines of smacss, see smacss.com. Well, at least somewhat along the lines.
*/


/*1. Base rules: 
".. is defining the default styling for how that element should look in all occurrences on the page. -- Base styles include setting heading sizes, default link styles, default font styles, and body backgrounds. " 
***************/



	h1,h2, body{
		font-family: 'Share Tech', sans-serif;
		color: #666666; 
		margin-top: 0;
	}

	body{
		font-size: 16px;
		background-color: #f2f2f2;
	}

	h1{
		font-size: 1.5em;
		text-transform: uppercase;
		margin: 0;
	}
	h2{
		font-size: 1.3em;
		text-transform: uppercase;
		margin: 0;

	}
	h3{
		font-size: 1.1em;
		text-transform: uppercase;
		margin: 0;

	}
	
	a{
		color: #000000; 
		text-decoration: none;
		font-size: 100%;
	}

	
	nav.top > a { 
		text-transform: uppercase; 
		font-size: 0.8em;
	}
	

blockquote {
}
/*2. Layout rules
***************/

	/*I'm not that fond of the idea of wrappers but so far this is how I've managed to get the footer to stay at the
	 bottom of the page even with small amount of content*/	
	#wrapper{
		min-height:100%;
		height: auto !important;
		height: 100%;
		margin: 0 0 -4em 0;
		overflow: hidden;
			}
	
	html, body{
		height: 95%;
		margin:0;
		padding:0;
	}
	
	/* to make the turquise underline after nav element*/
	.top>a:after, h2:after, .newscontent >h1:after, .pspons >h3:after, .sponsdigia > h3:after, .spons >h3:after, .sponssiloota >h3:after{ 
		content: "_";
		color: #00ffff ;
		margin-right:0;
	}

	/*we want a cute, pink, border on top of the page*/
	body{
	
		width: 100%;
	}

	/*To get the black line behind the logo..*/
	#viiva{
		content: "";  
		display: block;
		 border-top: solid 1px #282828;
		width: 100%;  
		height: 1px;  
		margin-top: 1.5%;
		top: 2%;  
		
		clear: after;  
	}

	/*the grey nav-border needs to be close to the nav element and modernize.css seems to add margin to ul which I'm not fond of'*/

	
	/*To get left edge of the logo and first element on nav line up*/
	
	.top{
		display: block;
		float: left;
		margin: 0 10% 0 20%;
		padding: 1% 0% 0 0%;
		width: 79%;
	}

	.top > a{
		display: block;
		float: left;
		margin-right: 1%;
		padding-right: 15%;	
	}

	.top>a:last-child{
		padding-right: 0%;
		margin-right: 0%;
	}


	.top>a:first-child{
		display:none;
	}

	.top>a:nth-child(2){
		padding-left: 0%
	}


	header{
		margin-top: 0px;
		padding-top: 0px;
		border-bottom: solid 1px #282828;
		border-top: solid 1px #ff00ff;
		padding-bottom: 15px;
		max-height: 213px;
		margin-bottom: 0;
	}


	article.content{
		display: block;
		margin-top: 0;
		height: 100%;
		padding-bottom: 100px;
		
	}
		.newscontent{
		display:block;
		margin-left: 20%;
		margin-right: auto;
		margin-top: 2%;
		width:  660px;
	}
		

	.nostokuva {
		float: right;
		margin-right: 25px;
		padding-top: 0em;
		padding-left: 10px;
		max-width: 50%;
	}

	.day{
		margin-left: 5%;
	}
	.day > a{
	padding-right: 1%;
	}
	.day > a:hover{
		color: #00ffff ;
}

/*
Layouts for the front page, the big banner imate (.pageupper) and lower part (.pagelower) with four boxes (.frontbox)
*/
		.pagelower{
		display:block;
		margin-left: 16%;
		margin-right: 1%;
		padding-left: 4%;
	}
.newslist li{width: 20%;}
/*Layout for the newspage uutiset.html*/
	.restofnews{
		display:block;
		margin-left: 10%;
		margin-right: 1%;
		padding-left: 4%;
		min-width: 80%;
		clear: before;
		float: left;
	}
	.restofnews > ul > li {
		list-style-type:none;
	}
	 .restlist:nth-child(2n +1) {
	  clear:left;
	  float:left;
	padding-right: 1em;
	}


	.frontbox{

		width: 25%;
		display: block;
		float: left;
		padding-right: 5%;
	}

	

	.frontbox:last-child{
	padding-right: 2%;
	}
	
	.frontbox img {
		margin-bottom: 10px;
		width: 100%;
	}
	
	.frontbox > div{
		display:block;
		background-repeat:no-repeat;
		background-size:contain;
		width: 250px;
		height: 200px;
		margin-right: 50px;
		
	}

	.frontbox p{
		
	}
	#first, #second, #third{
		width: 100%;
	}
	.newsnosto{
	width: 80%;	
	}

	.pagelower a, .newslist a{
		color:  #666666;
	}

	#first{
		background-image: url('../images/ohjelmisto_v01.png');
	}
	#second{
		background-image: url('../images/open_v01.png');
	}
#third{
		background-image: url('../images/sponsori_v01.png');
	}
	
	footer {
		display:block;
		width:100%;
		height:80px;
		clear: before;
		float: left;
		margin-top: 60px;	
		border-top: solid 1px #aaaaaa;  
	}
/*SPONSORIT-SIVU*/
	.pspons{
		display: block;
		float: left;
		width: 100%;
	}
	.pspons{
		margin-right: 2%;
	}
	.sponsdigia{
		display: block;
		margin-bottom: 1%;
		width: 100%;
	}
		
	.spons{
		display: block;
		float: left;
		font-size: 14px;
		padding-top: 1%;
		clear: before;
	}
	
	.sponssiloota{
		display: block;
		float: left;
		width: 30%;
		padding-right: 5%;
		margin-bottom: 2%;
		margin-top: 2%;
	}
	.tulemukaan{
	display: block;
	float: left;
	width: 100%;
	}
	.tulemukaan > p> a {color: #00ffff ;}



/*3. Module rules: for front page, these are the image boxes and ingresses, for schedule, this includes the actual table of schedules
****************/


	/*layout for the logo on top of the page*/
	.love{
		margin-left: 20%;
		width: 250px;
		
	}
	
	#logoy{
		border-bottom: solid 1px #aaaaaa;
		padding-top: 5px;
		padding-bottom: 5px;
	}

	/*Styling for front page big banner logo*/
	.pageupper{
		padding: 60px;
		background-image:url('../images/kirahvi_iso.jpg');
		background-position:center top;
		background-repeat:no-repeat;
		background-size:cover;
		min-height: 300px;
		max-height: 350px;
		margin-bottom: 2%;
		}
.pageupperu{
		padding: 60px;
		/*background-image:url('../images/kirahvi_iso.jpg');
		background-position:center top;
		background-repeat:no-repeat;
		background-size:cover;*/
		max-height: 350px;
		margin-bottom: 2%;
		}
	.newsupper{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	#loveit{
		text-align: center;
		max-width: 50%;	
		margin: 5% auto;
		color: #ff00ff;
		overflow: hidden;
		}
#loveitu{
		text-align: center;
		max-width: 70%;	
		margin: 1% auto;
		color: #ff00ff;
		overflow: hidden;
		}

	#loveit > img{
		display: block;
		margin-bottom: 5%;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	
	#loveit > p, #loveitu >p{
		color: #ff00ff;
		font-size: 1.3em;
		text-transform: uppercase;
		
	}

.otsikkokuva{
		max-width: 90%;
		}
	/*News*/
	.newscontent > p{
	font-size:  1.2em;
	}
	.newslist{
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;
	}

	/*Logos in the footer*/
	footer{
	
	}

	footer > ul {
		margin-left: 17%;
	}


	.tinylogo{
		text-decoration: none;
		list-style-type: none; 
		display: block;
		float: left;
		margin-right: 25px;
	}

	.sponsorlogo{
		height: 50px;
		max-width: 150px;
		margin-right: 40px;
		margin-bottom: 10px;
		}
	

/*News (uutiset)-page. The latest news is shown in full, second to last as recaps*/


	.newsupper{
		padding: 60px;
		min-height: 300px;
		margin-bottom: 2%;
		}
	

	/*TABLE RULES*/
	/*Rules for the table in ohjelma.html*/

			#taulukko{
			
			 margin-left: -2%;
			padding-left: 0;
			margin-right: 0em;
			}

			#keskiviikko, #tiistai { 
			border-collapse: separate; 
			border-spacing: 35px 20px;
			max-width:100%;			
			overflow: auto;
			}
			th { 
			  background: #F2F2F2; 
			  color: white; 
			  font-weight: bold; 
			}
			td{background-color: white; min-width:5%;}
			td:first-child{background-color: #F2F2F2; width:1%;}
			td, th { 
			  padding: 0px 0px 0px 0px; 
			  /*border: 1px solid #ccc;*/ 
			  text-align: left; 
			}


			table td{margin-right:0px;}
		/*Backgrounds for td cells and headers ie. tracks*/
			table tr td {height 100px; color: black;}
			tr.lunch td{ text-align: top;} 
			table td:nth-child(1) {color: #666666; min-width: 10px; padding-left:0px; padding-right: 0px; vertical-align: top; border-spacing: 50px 10px;}
			/*table td:nth-child(2) {margin-top: 10px; } */
			tr th:nth-child(2){background-color: #ffff00; color: #0000ff;}	
			tr th:nth-child(3) {background-color:#0000ff; color: #ffff00;}
			tr th:nth-child(4) {background-color:#00ff00; color: #ff00ff;}
			tr th:nth-child(5){background-color:#6600CC; color: #00ff00;}
			tr th:nth-child(6){background-color:#ff0000; color: #00ffff;}
			
/*Helper classes for styling the cells in the table		*/
			table td.lounas{ 
				height 50px;  
				
				background-repeat:no-repeat;
	/*				background-size:250px 180px;*/
				}
			
			tr td{width:12%;}
			tr td:nth-child(6){padding-right: 10px;}
			img.icon{margin-right:5px;  margin-left: 0px; padding-left: 0; height: 70px;}
			td p{font-size: 1em; margin:0 0 0 0;}
			td h3{font-size: 1em; margin:0px 0 0 0;
			text-transform: none;
			}
			.time:before{content: "_"; color:#FF00FF;}
			.cell2{}
			.time{ padding: 0 2em 0 0; margin: 0;} 
			td:nth-child(1) img { position: absolute; left: -30px; top: 13px; }
			.trackeista{margin-left: 20%; width: 60%;}
			.bigfont{font-size:1.5em;}
			.keh2{padding-left: 4%;}
			.hashtags{vertical-align: bottom;}
			.startcell{vertical-align:top;}
			.startcell > div > h3{padding-top:5px;}
			.hashtags{padding-top: 10px; color: #ff00ff;}
		
/*4. State rules
***************/

		a:hover{
			color: #00ffff ;
		}

		.top > a.active{
			color: #00ffff ;
	}
	
		#first:hover{
			background-image: url('../images/ohjelmisto_v01_hoveri.png');
		}
			#second:hover{
			background-image: url('../images/open_v01_hoveri.png');
		}
			#third:hover{
			background-image: url('../images/sponsori_v01_hoveri.png');
		}
		
		a>.frontbox:hover>h2, a:hover > h2{
			color: #00ffff ;
		}

	/*mouseovers and images of second box*/
		#second{
		
		}
	

		.day > a:checked {
		color: #00ffff ;
}
		#keskiviikko, #tiistai{
			display:block;
		}

		#keskiviikko:target{
			display:none;
			color: #00ffff ;
		}

		#tiistai:target{
			display:none;
			color: #00ffff ;
	}
	#tiistai:target > keh2{display:none;}
		a{   
   			color:#000;
			}
		a:active {
		    color: #00ffff ;
		}
		a[tabindex]:focus {
		    color:#00ffff;
		    outline: none;
		}
/*5. Responsive rules
***************/

@media all and (min-width: 1400px ) {
		.newscontent{
		display:block;
		margin-left: 20%;
		margin-right: auto;
		margin-top: 2%;
		width:  660px;
	}
		
	.frontbox > div{
		width: 300px;
		height: 300px;
		margin-right: 20px;		
	}
	.newsnosto{width: 80%;}
	.frontbox{
		padding-right: 20px;
	}

	#first, #second, #third{
	width: 100%;
	}
}
@media all and (min-width: 1201px ) and (max-width: 1400px ) {
	.frontbox > div{
		width: 250px;
		height: 230px;
	}
.frontbox img, #first, #second, #third {
margin-bottom: 10px;
width: 95%;
}
}
@media all and (min-width: 981px ) and (max-width: 1200px ) {

.frontbox > div{
		width: 250px;
		height: 230px;
	}

}
@media all (min-width: 776px) and (max-width: 980px ) {

		.top{
				margin: 0 0 0 5%;
				padding-left: 0;
			}
		.top > a { margin-left: 0;}
		.love{
			margin-left: 5%;
		}
		.newscontent{
		margin-left: 5%;
	}
		#loveit{
			  width: 400px;
	}
		.frontbox{
		width: 30%;
	}
	.pagelower, footer >ul{
		margin-left: 5%;
	}
	.otsikkokuva{
		max-width: 90%;
		}
	}

@media all and (min-width: 501px) and (max-width: 775px){
	#loveit{
		max-width: 90%;
	}
	.frontbox > div {}
	.frontbox{
		margin-left: 5%;
		margin-right:5%;
		float: left;
		width: 33%;
	}
	#third{
	margin-top: 50%;
	}
}
	@media all and (max-width: 500px ) {

		#loveit > img{
			display:none;
	}


	#loveit{
		min-width: 80%;
	}
	.pageupper{
	padding: 5px;
	}
	.frontbox{
		width: 80%;
		margin-left: 10%;
		margin-right:10%;
	}
}
	

/*RESPONSIVE TABLE*/

/*@media only screen and (max-width: 1000px) {*/
/*				#taulukko {*/
/*					margin-left: -2.5%;	*/
/*}*/
/*}*/
@media only screen and (max-width: 1155px) and (min-width: 891px){
				tr td:nth-child(1), th:nth-child(1){display:none;}
				#keskiviikko, #tiistai { 
				border-collapse: separate; 
				border-spacing: 10px 13px;
				max-width:100%;		
				overflow: auto;
				}
				#taulukko{margin-left: 2%;}
				tr td{width:22.5%}
}
/*This is for the table to look decent (or at least bearable) with views less than 890px*/

@media only screen and (max-width: 890px),
			(min-device-width: 768px) and (max-device-width: 1024px)  {

				#taulukko{ overflow: hidden; margin-left: 5%; width: 70%;}
				#taulukko:before {
					content: "Katselet isohkoa taulukkoa nyt ilmeisesti pienellä näytöllä tahi mobiililla. Tässä näkymässä selkeyden vuoksi ohjelma aikasloteittain. Huom: mobiileille on tulossa, kiitos yhteistyökumppanimme Digian, myös oma appsinsa, jossa voit suunnitella oman lukujärjestyksesi!";	
				}

				/* Force table to not be like tables anymore */
				table, thead, tbody, th, td, tr { 
					display: block; 
				}
				
				/* Hide table headers (but not display: none;, for accessibility) */
				thead tr { 
					position: absolute;
					top: -9999px;
					left: -9999px;
				}
				/*Layout-rules for the mobile view				*/
				tr, td { border: 1px solid black; }
				tr td{width:60%;}
				tr{margin: 15px;}

				td { 
					/* Behave  like a "row" */
					border: none;
					border-bottom: 1px solid black; 
					position: relative;
					padding-left: 30%; 
					padding-bottom: 5px;
				}
	
				td:before { 
					/* Now like a table header */
					position: absolute;
					/* Top/left values mimic padding */
					top: 6px;
					left: 6px;
					width: 15%; 
					padding-right: 10px; 
					white-space: nowrap;
				}
			    
			    tr:nth-of-type(1:)before {
				content: "A";
			    }
				
			/*td:nth-of-type(1), tr{background-color:#00ffff;}*/
				/*
				Label the data
				*/
				td:nth-of-type(1) {
					clear: after;
					color: red;
					text-align: left;
			}

				td:nth-of-type(1) {
					padding-left: 10%;
					
				}
				td:nth-of-type(1):before { content: "";
				 }
				
				td:nth-of-type(2){background-color:#eee;}
				td:nth-of-type(3) {background-color:#eee;}
				td:nth-of-type(4){background-color:#eee;}
				td:nth-of-type(5){background-color:#eee; }
				td:nth-of-type(6){background-color:#eee;}

				/*td's are now rows.. let's give them track names'*/
				td:nth-of-type(2):before { content: "Track 1"; }
				td:nth-of-type(3):before { content: "Track 2"; }
				td:nth-of-type(4):before { content: "Track 3"; }
				td:nth-of-type(5):before { content: "Track 4"; }
				td:nth-of-type(6):before { content: "Track 5"; }
				td:nth-of-type(7):before { content: "Track 1"; }
				td:nth-of-type(-n+5).lounas { display: none;}
				td:nth-of-type(6).lounas:before{ content: "Kaikki trackit";}
				td.lounas{background-color:#eee; }
			}



@media print {

	.foot, .top, #first,  #viiva, #logoy {
	display: none;
	}

	#loveit img{
	display: none;
	}

	.pageupper{
	min-height: 50px;
	max-height: 100px;
	}
	.pagelower{
		margin-left: 1%;
		margin-right: 1%;
		padding-left: 1%;
	}

	.frontbox{
		width: 25%;
		margin-left: 1%;
		margin-right:0%;
	}
#loveit{
		text-align: center;
		max-width: 50%;	
		margin: 1% auto;
		}

tr td:nth-child(1), th:nth-child(1){display:none;}
.bigfont{font-size: 1em;}
td h3{0.5em;}
td li{font-weight:normal;  font-size: 0.8em;}
.icon{display:none;}
td, th{border: 1px solid black;}
  table { page-break-inside:auto }
    div   { page-break-inside:avoid; } /* This is the key */
    thead { display:table-header-group }
				/*
#keskiviikko, #tiistai { 
				border-collapse: separate; 
				border-spacing: 10px 13px;
				max-width:100%;		
				overflow: auto;
				}
				#taulukko{margin-left: 2%;}
				tr td{width:22.5%}*/
}
